
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@200;400;500;600&display=swap');
:root {
    --main-color: #766be8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-width: 100%; */
    height: 100vh;
    font-family: 'Martian Mono', monospace;
    font-size: 62.5%;
    overflow: hidden;
    /* margin-top: -5em; */
}

.btn {
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid white;
    color: white;
    background-color: transparent;
    transition: all ease 0.2s;
    font-size: 1.4em;
}

.btn:hover {
    box-shadow: 0 0 20px 8px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(1.0);
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.2);
}

.section {
    width: 100vw;
    height: 100vh;
    flex-shrink: 0;
    overflow: hidden;
    padding-bottom: 6em;
}

.title--text {
    font-size: 2em;
    color: black;
    font-weight: 600;
    display: inline-block;
    align-self: center;
}

/* Main Container */

.container--main {
    height: 100vh;
    /* width: 100%; */
    /* overflow: hidden; */
    display: flex;
    display: -webkit-flex;
    transition: transform ease-out 0.5s;
    
}

/* Section 1 -> Logo Section */
.section--1 {
    background-color: var(--main-color);
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.section--1 > .container--logo {
    width: 70%;
    height: 5em;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    gap: 2em;
    position: relative;
}

.section--1 .container--icon,
.section--1 .container--text {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-grow: 1;
}

.section--1 .container--icon-arrow {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}

.section--1 .container--text {
    /* flex-direction: column; */
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
}

.section--1 .logo {
    width: 70%;
    height: 70%;
}

.section--1 .logo--icon-2 {
    position: absolute;
}

.section--1 .logo-text {
    width: 70%;
}

.section--1 .btn--start {
    position: absolute;
    bottom: 20%;
    transform: scale(0);
    filter: opacity(0);
}

/* Section 2 -> Permissions */

.section--2 {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.section--2 .container {
    max-width: 80%;
}

.section--2 .container--icon {
    width: 28%;
    /* margin-bottom: 4em; */
}

.section--2 .container--icon .svg--icon {
    fill: black;   
}

.section--2 > .container--text {
    width: 75%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    gap: 2em;
}

.section--2 .title--text {
    font-size: 2em;
    color: black;
    font-weight: 600;
    display: inline-block;
    align-self: center;
}

.section--2 .container--text p {
    font-size: 1.3em;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
}

.section--2 .container--text ul {
    letter-spacing: 1px;
    font-size: 1.3em;
    display: inline-flex;
    gap: 25px;
    justify-content: center;
}

.section--2 .container--text ul li:first-child {
    list-style: none;
}

.section--2 .container--text li {
    margin-bottom: 0.25em;
}

.section--2 .container--btn .btn--allow {
    font-size: 1.4em;
    border: 2px solid black;
    color: black;
}

.section--2 .btn--allow:hover {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.section--2 .btn--allow:active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

/* Section 3 -> QR Code Scanning */

.section--3 {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
    position: relative;
}

.section--3 .container {
    width: 30em;
}


.section--3 .title--text {
    letter-spacing: -2px;
    line-height: 1.5;
}

.section--3 .container--camera {
    width: 30em;
    height: 30em;
    background-color: rgb(34, 34, 34);
    position: relative;
    transition: border-radius ease-out 1s, background-color ease-out 0.3s;
}


.section--3 .container--message {
    font-size: 1.2em;
    width: 30em;
    max-height: 1em;
    display: flex;
    justify-content: center;
    font-weight: 600;
    letter-spacing: 2px;
}


.section--3 .video--feed {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section--3 .animation--checkmark {
    position: absolute;
    top: 0;
    left: 0;
    
}

.section--3 .animation--checkmark * {
    transition: opacity ease 0.3s;
}
.section--3 .text {
    transition: filter 0.3s ease-out;
}

.section--3 .container--credentials {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all ease 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.section--3 .content--credentials {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40em;
    height: 40em;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.2);
    gap: 0.8em;
    padding: 4em;
}

.section--3 .title {
    font-size: 1.6em;
    letter-spacing: -1px;
}

.section--3 .container--info {
    width: 100%;
}

.section--3 .container--info .text {
    font-size: 1.4em;
    margin-bottom: 10px;
}

.section--3 .fake-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: rgba(180,180,180,0.5);
    position: relative;
}

.section--3 .btn--clipboard {
    position: absolute;
    right: 5px;
    top: 5px;
    background-color: transparent;
    background-image: url("../images/copy.svg");
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0;
    height: 20px;
    width: 20px;
    filter: invert(70%);
    transition: transform ease 0.3s;
}

.section--3 .btn--clipboard:active {
    transform: scale(0.8); 
}

.section--3 div .fake-input {
    color: rgba(0,0,0,0.5);
    font-weight: 300;
    letter-spacing: 2px;
}

.section--3 .btn--done {
    background-color: var(--main-color);
    border: none;
}

.section--3 .btn--done {
    trasnform: scale(0.8);
}

@media screen and (max-width: 415px) {
    body {
        font-size: 50%;
    }

    .container--logo {
        width: 80%;
    }

    .section--2 .container--text {
        width: 100%;
    }
    
}
@media screen and (min-width: 500px) {
    .container--logo {
        width: 30em !important;
    }

    .section--2 .container--icon {
        width: 10em;
    }

}
.hidden {
    display: none !important;
}